# Add this block to your ~/.ssh/config to connect to the class server with:
#   ssh starling-class

Host starling-class
    HostName 64.23.243.235
    User sysadmin
    IdentityFile ~/.ssh/id_ed25519
    ServerAliveInterval 60
